*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




/* Fullscreen modal background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal container */
  .modal-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Modal title */
  .modal-title {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  /* Buttons container */
  .modal-actions {
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Logout button */
  .logout-btn {
    background: #17A2B8;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
  }
  
  /* Cancel button */
  .cancel-btn {
    background-color: white;
    color:#CF3636 ;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: 1px solid #CF3636;
    font-weight: 600;
  
  }
  
  /* Open Modal button */
  .open-modal-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open-modal-btn:hover {
    background-color: #0056b3;
  }
  

  .calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .calendar-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .close-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }
  